<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column gap-3">
  <div class="form-floating">
    <%= form.text_field :first_name, placeholder:"First name", class:"form-control" %>
    <%= form.label :first_name, style: "display: block", class:"form-label" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :last_name,  placeholder:"Last name", class:"form-control" %>
    <%= form.label :last_name, style: "display: block", class:"form-label" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :email,  placeholder:"Email", class:"form-control" %>
    <%= form.label :email, style: "display: block", class:"form-label" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :phone,  placeholder:"Phone", class:"form-control" %>
    <%= form.label :phone, style: "display: block", class:"form-label" %>
  </div>

  <div class="form-floating">
    <%= form.text_field :twitter,  placeholder:"Twitter", class:"form-control" %>
    <%= form.label :twitter, style: "display: block", class:"form-label" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
