<h2>Log in</h2>

<div class="card">
<div class="card-header text-center py-4 bg-light">LOGO HERE</div>

<div class="card-body mx-auto w-50">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="d-flex flex-column gap-3">
      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"form-control" %>
        <%= f.label :email %>
      </div>

      <div class="field form-floating">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"form-control" %>
        <%= f.label :password, style:"display: block", class: "form-label" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-check mt-1">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mt-4 text-center ">
      <%= f.submit "Log in", class:"btn btn-primary px-4" %>
    </div>
  <% end %>

  <div class="d-flex gap-2 mt-2 justify-content-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
